section {
    height: 7rem;
    width: 7rem;

    color: var(--color-texto2);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--color-primary);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h3 {
    width: 100%;
    text-align: center;
    padding: .2rem 0;
    font-size: .8rem;
    font-weight: bold;
    color: var(--color-texto1);
    background-color: rgba(255, 255, 255, 0.75);
    
}