/* You can add global styles to this file, and also import other style files */
/*Reset CSS*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color-primary: #D3D5D4;
    --color-secondary: #0471A6;
    --color-tercero: #60AB9A;
    --color-contraste: #4B4E58;
    --color-contraste2: #D87CAC;
    --color-texto1: #000;
    --color-texto2: #fff;
    /*Tipografía*/
    --tipo-principal: Montserrat;
    --tipo-secundaria: Verdana;
}

@media (prefers-reduce-motion: reduce){
    * {
        animation: none;
        transition: none;
    }
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img, picture, video, iframe, figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover; 
    object-position: center center;
}

a {
    display: block;
}
p a {
    display: inline;
}

li{
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}


h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}


form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
}

table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}

svg {
    width: 100%;
    display: block;
}


body {
    min-height : 100svh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--color-text2);
    background-color: var(--color-text1);
    line-height: 1.4em;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
